# Environment secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
venv/

# Generated output
outputs/
temp/
frames/
bgm/
backgrounds/
fonts/
reel_assets/
# IDE
.idea/
.vscode/
docs/
/client_secret_172785962621-rckt515ik5cbef8oe6fqf114kdia0m2h.apps.googleusercontent.com.json
/backend.md
